/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/not-found.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.not-found_error__IQhg2 {
    max-width: var(--content-width);
    margin: 0 auto;
}

.not-found_error__container__oOINi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 120px;
}

.not-found_error__title__pmsuQ {
    font-size: 56px;
    margin-top: 20px;
    text-align: center;
}

.not-found_error__text__AJCVo {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    text-align: center;
}

.not-found_error__link__RrXqX {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: black;
    text-decoration: underline;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Footer/footer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__OSQxG {
    max-width: var(--content-width);
    padding: 60px 0;
    background-color: black;
    margin: 0 auto;
}

.footer_footer__top__iNqcy {
    display: flex;
    padding: 0 80px;
}

.footer_footer__topItem__QadEs {
    flex: 1 1;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.footer_footer__logoBox__imYPb {
    display: flex;
    align-items: center;
}

.footer_footer__logoImg__VFlJa {
    height: 64px;
}

.footer_footer__logoBox__imYPb > *:first-child {
    margin-right: 16px;
}

.footer_footer__socials__hkHk1 {
    display: flex;
    flex-direction: column;
}

.footer_footer__socialsText__RAesO {
    color: white;
    text-align: right;
    font-size: 24px;
}

.footer_footer__socialsIcons__rCJrC {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: right;
    margin-top: 16px;
}

.footer_footer__socialsIcon__c_DZ_ {
    width: 42px;
    height: 42px;
}

.footer_footer__socialsPath__HlgxE {
    fill: white;
}

.footer_footer__hr__JhfHe {
    border: 0;
    display: block;
    margin: 40px 80px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    width: auto;
    border-top: none;
}

.footer_footer__bottom__BVIb_ {
    display: flex;
    padding: 0 80px;
    flex-flow: row nowrap;
}

.footer_footer__bottomList__Muz7I {
    flex: 1 1;
    display: flex;
    flex-flow: row wrap;
}

.footer_footer__bottomItem__Q5gVP {
    flex: 1 1 33.33%;
    max-width: 33.33%;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

@media screen and (max-width: 900px) {
    .footer_footer__bottom-list__eaY9E > * {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .footer_footer__bottom-list__eaY9E > * {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .footer_footer__top__iNqcy {
        flex-direction: column;
    }

    .footer_footer__logo-box__xNSxF {
        justify-content: center;
    }

    .footer_footer__socials-text__kiVcf {
        text-align: center;
        margin: 16px 0 8px;
    }

    .footer_footer__socials-icons__GTM8c {
        justify-content: center;
    }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Header/header.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__vSYk7 {
    background-color: white;
}

.header_header__content__sWmXp {
    display: flex;
    max-width: var(--content-width);
    margin: 5px auto;
}

.header_header__logoContainer__EvbSu {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.header_header__logoImg__hp4kT {
    height: 60px;
}

.header_header__logoContainer__EvbSu > img:not(:last-child) {
    margin-right: 16px;
}

.header_header__menu___LT1b {
    flex: 1 1;
    display: flex;
    justify-content: center;
}

.header_header__menu___LT1b ul {
    flex: 1 1;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.header_header__menu___LT1b ul li {
    padding: 16px;
}

.header_header__loginMenu___WpV0 {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.header_header__loginMenu___WpV0 > *:not(:last-child) {
    margin-right: 10px;
}

.header_header__hr__9lmqK {
    border: 0;
    display: block;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    width: auto;
    border-top: none;
    max-width: var(--content-width);
    margin: 5px auto;
}

