/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_home__jFQbK {
    height: 100%;
    background-color: var(--wrapper-color);
}

.page_home__content__9oqZG {
    display: flex;
    flex-flow: column;
    max-width: var(--content-width);
    background-color: var(--content-container-color);
    margin: 0 auto;
}

.page_home__sectionWhite__suPj8 {
    background-color: white;
}

.page_home__sectionGray__W4hMG {
    background-color: lightgray;
}

.page_home__sectionWhite__suPj8,
.page_home__sectionGray__W4hMG {
    padding: 100px 80px 100px;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/HomeHeader/homeHeader.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
/* HomeHeader */

.homeHeader_homeHeader___h_UK {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        223deg,
        rgba(175, 253, 134, 1) 0%,
        rgba(165, 178, 243, 1) 100%
    );
    color: #fff;
    max-width: var(--content-width);
    margin: 0 auto;
}

/* HomeHeader menu */

.homeHeader_homeHeader__menu__66MoQ {
    display: flex;
    margin: 16px 30px;
}

.homeHeader_homeHeader__menu__66MoQ ul {
    flex: 1 1;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.homeHeader_homeHeader__menu__66MoQ ul li {
    padding: 16px;
}

/* HomeHeader main */

.homeHeader_homeHeader__main__YSr73 {
    padding-top: 100px;
    text-align: center;
    color: #000;
}

.homeHeader_homeHeader__picturePadding__iKhlx {
    padding: 0 16px 0 0;
}

.homeHeader_homeHeader__mainText__16Fh_ {
    font-size: 56px;
    margin-top: 20px;
    transition: 0.4s ease all;
}

.homeHeader_homeHeader__userProfileMenu__y_ktR {
    align-content: center;
}

.homeHeader_homeHeader__userProfileMenu__y_ktR > *:not(:last-child) {
    margin-right: 10px;
}

/* Search */

.homeHeader_homeHeader__search__AWDzU {
    display: flex;
    padding: 50px 0 120px;
    justify-content: center;
}

.homeHeader_homeHeader__searchInput__Pon8t {
    flex: 0 0 40%;
    max-width: 40%;
    transition: 0.2s ease all;
}

.homeHeader_homeHeader__searchInputUnderline__v0X3D {
    display: flex;
    text-align: left;
    padding: 0 20px;
    font-weight: 300;
}

.homeHeader_homeHeader__navBtn__fut96 {
    display: none;
    width: 32px;
    height: 18px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 17px 0 18px auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .homeHeader_homeHeader__menu__66MoQ ul,
    .homeHeader_homeHeader__userProfileMenu__y_ktR {
        display: none;
    }

    .homeHeader_homeHeader__navBtn__fut96 {
        display: flex;
        width: 32px;
        height: 18px;
    }

    .homeHeader_navBtnLine__cBlvL {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        border-radius: 2px;
    }

    .homeHeader_homeHeader__searchInput__Pon8t {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .homeHeader_homeHeader__mainText__16Fh_ {
        font-size: 24px;
    }

    .homeHeader_PictureList___JSvW img {
        height: 40px;
    }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Search/search.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.search_search__JdJSy {
    display: flex;
    height: 48px;
    align-content: center;
    position: relative;
    margin-bottom: 10px;
}

.search_searchInput__jsobF {
    width: 100%;
    border: 0;
    border-radius: 100px;
    padding: 12px 50px 12px 25px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    background: #fff;
}

.search_submit__dC3bT {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -13px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIG9wYWNpdHk9IjAuNSI+CiAgICAgICAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNS4zMzEyIDE2LjE1MjJMMTUuNzE3OSAxNS43MDc0QzE2LjUyMDkgMTQuNjg2OCAxNyAxMy4zOTk0IDE3IDEyQzE3IDguNjg2MjkgMTQuMzEzNyA2IDExIDZDNy42ODYyOSA2IDUgOC42ODYyOSA1IDEyQzUgMTUuMzEzNyA3LjY4NjI5IDE4IDExIDE4QzEyLjcwMjQgMTggMTQuMjM5MSAxNy4yOTEgMTUuMzMxMiAxNi4xNTIyWk0xNy43MjUyIDE2LjMzNDRMMjEuMzk4MSAxOS41MjcxTDIwLjAxMzMgMjEuMTIwMUwxNi4zNTY5IDE3Ljk0MTdDMTQuOTM4OCAxOS4yMjExIDEzLjA2MDQgMjAgMTEgMjBDNi41ODE3MiAyMCAzIDE2LjQxODMgMyAxMkMzIDcuNTgxNzIgNi41ODE3MiA0IDExIDRDMTUuNDE4MyA0IDE5IDcuNTgxNzIgMTkgMTJDMTkgMTMuNTk3NCAxOC41MzE4IDE1LjA4NTQgMTcuNzI1MiAxNi4zMzQ0WiIgZmlsbD0iYmxhY2siIC8+CiAgICA8L2c+Cjwvc3ZnPg==);
    border-radius: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    border: none;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Footer/footer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__OSQxG {
    max-width: var(--content-width);
    padding: 60px 0;
    background-color: black;
    margin: 0 auto;
}

.footer_footer__top__iNqcy {
    display: flex;
    padding: 0 80px;
}

.footer_footer__topItem__QadEs {
    flex: 1 1;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.footer_footer__logoBox__imYPb {
    display: flex;
    align-items: center;
}

.footer_footer__logoImg__VFlJa {
    height: 64px;
}

.footer_footer__logoBox__imYPb > *:first-child {
    margin-right: 16px;
}

.footer_footer__socials__hkHk1 {
    display: flex;
    flex-direction: column;
}

.footer_footer__socialsText__RAesO {
    color: white;
    text-align: right;
    font-size: 24px;
}

.footer_footer__socialsIcons__rCJrC {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: right;
    margin-top: 16px;
}

.footer_footer__socialsIcon__c_DZ_ {
    width: 42px;
    height: 42px;
}

.footer_footer__socialsPath__HlgxE {
    fill: white;
}

.footer_footer__hr__JhfHe {
    border: 0;
    display: block;
    margin: 40px 80px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    width: auto;
    border-top: none;
}

.footer_footer__bottom__BVIb_ {
    display: flex;
    padding: 0 80px;
    flex-flow: row nowrap;
}

.footer_footer__bottomList__Muz7I {
    flex: 1 1;
    display: flex;
    flex-flow: row wrap;
}

.footer_footer__bottomItem__Q5gVP {
    flex: 1 1 33.33%;
    max-width: 33.33%;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

@media screen and (max-width: 900px) {
    .footer_footer__bottom-list__eaY9E > * {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .footer_footer__bottom-list__eaY9E > * {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .footer_footer__top__iNqcy {
        flex-direction: column;
    }

    .footer_footer__logo-box__xNSxF {
        justify-content: center;
    }

    .footer_footer__socials-text__kiVcf {
        text-align: center;
        margin: 16px 0 8px;
    }

    .footer_footer__socials-icons__GTM8c {
        justify-content: center;
    }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Swiper/swiper.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.swiper_swiper__rrUsm {
    flex: 1 1;
    overflow-x: hidden;
    position: relative;
}

.swiper_swiper__box__Ndad2 {
    display: flex;
    flex-flow: column;
}

.swiper_swiper__wrapper__n4Ez_ {
    display: flex;
    width: 100%;
}

.swiper_swiper__buttonNext__DIP_z,
.swiper_swiper__buttonPrev__uMBe6 {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    border: 0;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-color: rgba(211, 211, 211, 0.6);
    box-shadow: 2px 2px 12px -2px rgba(66, 68, 90, 1);
    text-align: center;
    align-content: center;
    font-size: 20px;
}

.swiper_swiper__buttonNext__DIP_z {
    right: 10px;
}

.swiper_swiper__buttonPrev__uMBe6 {
    left: 10px;
}

.swiper_swiper__item__A7nKX {
    flex: 1 1 19%;
    min-width: 19%;
    margin: 0 0.5%;
}

.swiper_swiper__item__A7nKX img {
    max-width: 100%;
    box-shadow: 0 2px 8px -2px rgba(66, 68, 90, 1);
    margin: 4px 0;
    border-radius: 20px;
}

@media screen and (max-width: 1250px) {
    .swiper_swiper__item__A7nKX {
        flex: 1 1 32.3%;
        min-width: 32.3%;
    }
}

@media screen and (max-width: 900px) {
    .swiper_swiper__item__A7nKX {
        flex: 1 1 49%;
        min-width: 49%;
    }
}

@media screen and (max-width: 600px) {
    .swiper_swiper__item__A7nKX {
        flex: 1 1 99%;
        min-width: 99%;
    }
}

