.header {
    background-color: white;
}

.header__content {
    display: flex;
    max-width: var(--content-width);
    margin: 5px auto;
}

.header__logoContainer {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.header__logoImg {
    height: 60px;
}

.header__logoContainer > img:not(:last-child) {
    margin-right: 16px;
}

.header__menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__menu ul {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.header__menu ul li {
    padding: 16px;
}

.header__loginMenu {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.header__loginMenu > *:not(:last-child) {
    margin-right: 10px;
}

.header__hr {
    border: 0;
    display: block;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    width: auto;
    border-top: none;
    max-width: var(--content-width);
    margin: 5px auto;
}
