.login {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.login__content {
    width: 320px;
    margin: 0 auto;
}

.login__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    margin: 32px 0 24px;
}

.login__title {
    margin-bottom: 16px;
}

.login__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    border: 1px solid lightgray;
    padding: 16px;
}

.login__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid lightgray;
    padding: 16px;
    margin-top: 16px;
}

.login__or {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}

.login__or:before,
.login__or:after {
    flex: 1;
    content: '';
    display: inline-block;
    height: 1px;
    background-color: lightgray;
    vertical-align: middle;
    margin: 0 4px;
}

@media screen and (max-width: 480px) {
    .login__top {
        flex-direction: row;
        justify-content: center;
    }

    .login__logo {
        height: 48px;
        width: 48px;
    }

    .login__title {
        margin-left: 16px;
        margin-bottom: 0;
    }
}
