.home {
    height: 100%;
    background-color: var(--wrapper-color);
}

.home__content {
    display: flex;
    flex-flow: column;
    max-width: var(--content-width);
    background-color: var(--content-container-color);
    margin: 0 auto;
}

.home__section-white {
    background-color: white;
}

.home__section-gray {
    background-color: lightgray;
}

.home__section-white,
.home__section-gray {
    padding: 100px 80px 100px;
}