.overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - (5px * 2));
    flex-flow: column nowrap;
    padding: 20px 5px;
    background-color: #f5f5f5;
}

.overlay hr {
    width: 100%;
    border: 0;
    display: block;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: none;
}

.overlay > *:not(hr) {
    width: 100%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.overlay > *:not(hr):hover {
    background-color: lightgray;
}
