.home {
    height: 100%;
    background-color: var(--wrapper-color);
}

.home__content {
    display: flex;
    flex-flow: column;
    max-width: var(--content-width);
    background-color: var(--content-container-color);
    margin: 0 auto;
}

.home__sectionWhite {
    background-color: white;
}

.home__sectionGray {
    background-color: lightgray;
}

.home__sectionWhite,
.home__sectionGray {
    padding: 100px 80px 100px;
}
