.input {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    background-color: var(--wrapper-color);
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    width: calc(100% - 24px);
}

.input.incorrect {
    border-color: red;
}

.label {
    flex: 1;
    display: block;
    margin-bottom: 8px;
}

.password-label-box {
    display: flex;
}