.link--underline {
    text-decoration: underline;
}

.link--inline-padding {
    padding: 0 3px;
}

a.right-arrow,
Link.right-arrow {
    position: relative;
}

a.right-arrow::after,
Link.right-arrow::after {
    content: ' >';
    font-size: inherit;
    transition: 0.2s ease all;
}