.section {
    display: flex;
}

.section--column {
    flex-flow: column;
}

.section-item-list {
    flex: 1;
}

.section-item-list > *:not(.title-box):not(:last-child) {
    margin-bottom: 10px;
}

.section-item-list__hr {
    border: 0;
    display: block;
    margin: 40px 0 !important;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    width: auto;
    border-top: none;
}

.section-item-list__topic {
    font-size: 32px;
}

.section-item-picture-container {
    align-content: center;
}

.section-item-picture {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
}

.section-item-picture-container > img {
    border-radius: 20px;
    box-shadow: 2px 2px 12px -2px rgba(66, 68, 90, 1);
    width: 100%;
}

.section-item__margin-r {
    margin-right: 40px;
}

.section-item__margin-l {
    margin-left: 40px;
}

@media screen and (max-width: 1250px) {
    .section {
        flex-flow: column;
    }

    .section-item__margin-r {
        margin-right: 0;
    }

    .section-item__margin-l {
        margin-left: 0;
    }

    .section-item-picture-container {
        padding: 80px 0;
    }

    .section-item-list__topic {
        font-size: 24px;
    }
}