.title {
    font-size: 64px;
    transition: .2s ease all;
}

.title-box {
    margin-bottom: 76px;
    text-align: center;
}

.title-margin-b {
    margin-bottom: 20px;
}

.top-title {
    font-size: 15px;
    text-transform: uppercase;
}

.bottom-title {
    font-size: 17px;
    margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 48px;
    }

    .title-box {
        margin-bottom: 40px;
    }

    .top-title {
        font-size: 12px;
    }

    .bottom-title {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 32px;
    }

    .title-box {
        margin-bottom: 20px;
    }

    .top-title {
        font-size: 10px;
    }

    .bottom-title {
        font-size: 12px;
    }
}