.footer {
    max-width: var(--content-width);
    padding: 60px 0;
    background-color: black;
    margin: 0 auto;
}

.footer__top {
    display: flex;
    padding: 0 80px;
}

.footer__top > * {
    flex: 1;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.footer__logo-box {
    display: flex;
    align-items: center;
}

.footer__logo-box > img {
    height: 64px;
}

.footer__logo-box > *:first-child {
    margin-right: 16px;
}

.footer__socials {
    display: flex;
    flex-direction: column;
}

.footer__socials-text {
    color: white;
    text-align: right;
    font-size: 24px;
}

.footer__socials-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: right;
    margin-top: 16px;
}

.footer__socials-icon {
    width: 42px;
    height: 42px;
}

.footer__socials-icon path {
    fill: white;
}

.footer__hr {
    border: 0;
    display: block;
    margin: 40px 80px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    width: auto;
    border-top: none;
}

.footer__bottom {
    display: flex;
    padding: 0 80px;
    flex-flow: row nowrap;
}

.footer__bottom-list {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}

.footer__bottom-list > * {
    flex: 1 1 33.33%;
    max-width: 33.33%;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

@media screen and (max-width: 900px) {
    .footer__bottom-list > * {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .footer__bottom-list > * {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer__logo-box {
        justify-content: center;
    }

    .footer__socials-text {
        text-align: center;
        margin: 16px 0 8px;
    }

    .footer__socials-icons {
        justify-content: center;
    }
}