.search {
    display: flex;
    height: 48px;
    align-content: center;
    position: relative;
    margin-bottom: 10px;
}

.search__input {
    width: 100%;
    border: 0;
    border-radius: 100px;
    padding: 12px 50px 12px 25px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    background: #fff;
}

.submit {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -13px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIG9wYWNpdHk9IjAuNSI+CiAgICAgICAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNS4zMzEyIDE2LjE1MjJMMTUuNzE3OSAxNS43MDc0QzE2LjUyMDkgMTQuNjg2OCAxNyAxMy4zOTk0IDE3IDEyQzE3IDguNjg2MjkgMTQuMzEzNyA2IDExIDZDNy42ODYyOSA2IDUgOC42ODYyOSA1IDEyQzUgMTUuMzEzNyA3LjY4NjI5IDE4IDExIDE4QzEyLjcwMjQgMTggMTQuMjM5MSAxNy4yOTEgMTUuMzMxMiAxNi4xNTIyWk0xNy43MjUyIDE2LjMzNDRMMjEuMzk4MSAxOS41MjcxTDIwLjAxMzMgMjEuMTIwMUwxNi4zNTY5IDE3Ljk0MTdDMTQuOTM4OCAxOS4yMjExIDEzLjA2MDQgMjAgMTEgMjBDNi41ODE3MiAyMCAzIDE2LjQxODMgMyAxMkMzIDcuNTgxNzIgNi41ODE3MiA0IDExIDRDMTUuNDE4MyA0IDE5IDcuNTgxNzIgMTkgMTJDMTkgMTMuNTk3NCAxOC41MzE4IDE1LjA4NTQgMTcuNzI1MiAxNi4zMzQ0WiIgZmlsbD0iYmxhY2siIC8+CiAgICA8L2c+Cjwvc3ZnPg==);
    border-radius: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    border: none;
}