/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.tsx","import":"Geist","arguments":[{"variable":"--font-geist-sans","subsets":["latin"]}],"variableName":"geistSans"} ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic */
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/8d697b304b401681-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ba015fad6dcf6784-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/569ce4b8f30dc480-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: 'Geist Fallback';src: local("Arial");ascent-override: 95.94%;descent-override: 28.16%;line-gap-override: 0.00%;size-adjust: 104.76%
}.__className_5cfdac {font-family: 'Geist', 'Geist Fallback';font-style: normal
}.__variable_5cfdac {--font-geist-sans: 'Geist', 'Geist Fallback'
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.tsx","import":"Geist_Mono","arguments":[{"variable":"--font-geist-mono","subsets":["latin"]}],"variableName":"geistMono"} ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic */
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/9610d9e46709d722-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/747892c23ea88013-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/93f479601ee12b01-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: 'Geist Mono Fallback';src: local("Arial");ascent-override: 74.67%;descent-override: 21.92%;line-gap-override: 0.00%;size-adjust: 134.59%
}.__className_9a8899 {font-family: 'Geist Mono', 'Geist Mono Fallback';font-style: normal
}.__variable_9a8899 {--font-geist-mono: 'Geist Mono', 'Geist Mono Fallback'
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/reset.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
html,
body,
a,
Link,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/variables.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
:root {
    --wrapper-color: #f5f5f5;
    --content-width: 1680px;
    --content-container-color: #fff;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/section.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.section {
    display: flex;
}

.section--column {
    flex-flow: column;
}

.section__item-list {
    flex: 1 1;
}

.section__item-list > *:not(.title-box):not(:last-child) {
    margin-bottom: 10px;
}

.section__item-list__hr {
    border: 0;
    display: block;
    margin: 40px 0 !important;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    width: auto;
    border-top: none;
}

.section__item-list__topic {
    font-size: 32px;
}

.section__item-picture-box {
    align-content: center;
}

.section__item-picture {
    flex: 1 1;
    display: flex;
    justify-content: center;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
}

.section__item-picture-box > img {
    border-radius: 20px;
    box-shadow: 2px 2px 12px -2px rgba(66, 68, 90, 1);
    width: 100%;
}

.section__item--margin-r {
    margin-right: 40px;
}

.section__item--margin-l {
    margin-left: 40px;
}

@media screen and (max-width: 1250px) {
    .section {
        flex-flow: column;
    }

    .section__item--margin-r {
        margin-right: 0;
    }

    .section__item--margin-l {
        margin-left: 0;
    }

    .section__item-picture-box {
        padding: 80px 0;
    }

    .section__item-list__topic {
        font-size: 24px;
    }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/title.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.title {
    font-size: 64px;
    transition: 0.2s ease all;
}

.title-box {
    margin-bottom: 76px;
    text-align: center;
}

.title--margin-b {
    margin-bottom: 20px;
}

.top-title {
    font-size: 15px;
    text-transform: uppercase;
}

.bottom-title {
    font-size: 17px;
    margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 48px;
    }

    .title-box {
        margin-bottom: 40px;
    }

    .top-title {
        font-size: 12px;
    }

    .bottom-title {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 32px;
    }

    .title-box {
        margin-bottom: 20px;
    }

    .top-title {
        font-size: 10px;
    }

    .bottom-title {
        font-size: 12px;
    }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/subtitle.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.subtitle {
    font-size: 32px;
}

@media screen and (max-width: 768px) {
    .subtitle {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .subtitle {
        font-size: 14px;
    }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/link.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.link--underline {
    text-decoration: underline;
}

.link--inline-padding {
    padding: 0 3px;
}

a.right-arrow,
Link.right-arrow {
    position: relative;
}

a.right-arrow::after,
Link.right-arrow::after {
    content: ' >';
    font-size: inherit;
    transition: 0.2s ease all;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/button.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.button {
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 16px 32px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    transition: 0.2s ease all;
}

.button:hover {
    background-color: #222222;
    color: white;
    transform: translateY(-3px);
}

.button:active {
    background-color: black;
    color: white;
    transform: translateY(0px);
}

.button:disabled {
    background-color: #222222;
}

.button--width-max {
    width: 100%;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/input.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.input {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    background-color: var(--wrapper-color);
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    width: calc(100% - 24px);
}

.input--form-margin {
    margin: 3px 0 16px;
}

.input--form-margin-underline {
    margin: 3px 0 8px;
}

.input--red {
    border-color: red;
}

.label {
    flex: 1 1;
    display: block;
    margin-bottom: 8px;
}

.label__password-box {
    display: flex;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/form.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.form {
    width: 100%;
}

.form__error-message {
    font-size: 12px;
}

.form__error-message--red {
    color: red;
}

.form__underline {
    font-size: 12px;
    margin-bottom: 16px;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/dimmer.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.dimmer {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/overlay.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - (5px * 2));
    flex-flow: column nowrap;
    padding: 20px 5px;
    background-color: #f5f5f5;
}

.overlay hr {
    width: 100%;
    border: 0;
    display: block;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: none;
}

.overlay > *:not(hr) {
    width: 100%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.overlay > *:not(hr):hover {
    background-color: lightgray;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/main.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/


